<a href="https://colab.research.google.com/github/SDCraigN/UCB_DAB_Final_Project/blob/main/Copy_of_Copy_of_Machine_Learning_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import auth
auth.authenticate_user()

In [4]:
%load_ext google.colab.data_table

In [5]:
%%bigquery --project plucky-zodiac-283501 df
SELECT *
FROM cleandata.combineddata

In [6]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [442 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,689 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,781 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [54.3 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,365 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [865 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,208 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,130 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [252 kB]
Fetched 11.1 MB in 3s (3,778 kB/s)
Reading package lists... Done

In [7]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("tokenizing").getOrCreate()

In [10]:
from pyspark.ml.feature import RegexTokenizer, Tokenizer


from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType

In [11]:
# Read in data from storage
from pyspark import SparkFiles

url ="https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/1975-1979.csv"
url2 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/1980-1989.csv"
url3 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/1990-2001.csv"
url4 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/2002-2009.csv"
url5 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/2010-2015.csv"
url6 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/2016_avg.csv"

In [12]:
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("1975-1979.csv"), sep=",", header=True)

In [13]:
spark.sparkContext.addFile(url2)
df2 = spark.read.csv(SparkFiles.get("1980-1989.csv"), sep=",", header=True)

In [14]:
spark.sparkContext.addFile(url3)
df3 = spark.read.csv(SparkFiles.get("1990-2001.csv"), sep=",", header=True)

In [15]:
spark.sparkContext.addFile(url4)
df4 = spark.read.csv(SparkFiles.get("2002-2009.csv"), sep=",", header=True)

In [16]:
spark.sparkContext.addFile(url5)
df5 = spark.read.csv(SparkFiles.get("2010-2015.csv"), sep=",", header=True)

In [17]:
spark.sparkContext.addFile(url6)
df6 = spark.read.csv(SparkFiles.get("2016_avg.csv"), sep=",", header=True)

In [18]:
dfUnion = df.union(df2)

In [19]:
dfUnion2 = dfUnion.union(df3)

In [20]:
dfUnion3 = dfUnion.union(df4)

In [21]:
dfUnion4 = dfUnion.union(df5)

In [22]:
dfUnion5 = dfUnion.union(df6)

In [23]:
dfUnion5.show()

+----+-----+-------+--------------------+------+--------+-------+-------------------+------------------+------------------+------------------+------------------+
|year|state|station|                name|   lat|     lon|   elev|           avg_temp|           avg_dew|           avg_slp|           avg_stp|           avg_co2|
+----+-----+-------+--------------------+------+--------+-------+-------------------+------------------+------------------+------------------+------------------+
|1975|   NH| 726160|BERLIN MUNICIPAL ...|44.583| -71.179|+0353.0| 48.552121212121207|40.676515151515147|5781.6575757575747|2755.7356060606062|329.85166666666669|
|1975|   NY| 725060|   OTIS ANGB AIRPORT| 41.65| -70.061|+0047.5| 54.339075268817204|45.689440860215058|            9999.9|1012.6343655913978|331.20300000000003|
|1975|   OR| 726885|             MEACHAM|45.511|-118.425|+1134.8| 40.082917735608305|3928.3748064282372|9102.0103225806452|  9087.61322580645|           331.521|
|1975|   AK| 700265|BARROW W POST-W R...|71.333|-156.633|+0004.0|               15.0|             12.25|            9999.9|            9999.9|            328.34|
|1975|   AK| 700866|    CHALLENGE ISLAND|70.233|  -146.5|-0999.0| 4.5260755682066796|5488.1165309603257|9813.7558620689651|            9999.9|           332.224|
|1975|   AK| 701160|               WALES|65.617| -168.05|+0005.0| 14.700000000000001|10.966666666666665|1002.0166666666667|            9999.9|            331.65|
|1975|   AK| 701620|               UMIAT|69.367|-152.133|+0085.0|-12.867118298368297|286.80541958041943|            9999.9|            9999.9|            329.53|
|1975|   AK| 701745|CHANDALAR LAKE AI...|67.511|-148.483|+0585.0|-10.939230769230772|748.59846153846138|            9999.9|            9999.9|           330.125|
|1975|   AK| 702460|          MINCHUMINA|  63.9|-152.267|+0214.0|  28.33787867996201| 3323.198856328856|            9999.9|            9999.9|331.28999999999996|
|1975|   AK| 702490|       PUNTILLA LAKE|  62.1|-152.735|+0566.3| 27.595451631701632| 167.8182977855478|            9999.9|            9999.9|           331.521|
|1975|   AK| 702550|    SKWENTNA AIRPORT|61.977|-151.183|+0045.7| 33.186844007707975|  3233.64816689132|            9999.9|            9999.9|332.17249999999996|
|1975|   AK| 702600|NENANA/MUN.      ...| 64.55|-149.072|+0110.0| 8.2347069597069584|2229.9064542124543|            9999.9|            9999.9|            329.51|
|1975|   AK| 702675|      PAXSON AIRPORT|63.033|-145.498|+0823.0| 24.320588235294121| 151.5392959001783|            9999.9|            9999.9|331.40818181818184|
|1975|   AK| 702680|      GLENNALLEN  AK|  62.1|-145.967|+0573.0| 41.549042658730158|27.282172619047625|            9999.9|            9999.9|         331.15375|
|1975|   AK| 702719|       SNOWSHOE LAKE|62.033|-142.667|+0735.0|   25.9434350132626|136.83779840848808|            9999.9|            9999.9|328.79666666666668|
|1975|   AK| 702735|         MERRILL FLD|61.217|-149.833|+0042.1| 36.535714285714285|5024.0499999999993|            9999.9|            9999.9|329.65999999999997|
|1975|   AK| 702756|VALDEZ PIONEER FI...|61.133|-146.244|+0036.0|                5.2|               2.1|            9999.9|            9999.9|             333.6|
|1975|   AK| 702757|    WHITTIER AIRPORT|60.783|-148.683|+0011.9| 34.678333333333335|28.328333333333333|            9999.9|            9999.9|           331.232|
|1975|   AK| 703330| PORT HEIDEN AIRPORT|56.959|-158.617|+0029.0| 38.746683413834745|146.90557384898472|            9999.9|            9999.9|330.83500000000004|
|1975|   AK| 703570|SITKINAK(USCG)   ...| 56.55|-154.133|+0017.0| 39.248593435075179|111.62679681681101|1237.7385746080042|            9999.9|331.20300000000003|
+----+-----+-------+--------------------+------+--------+-------+-------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [24]:
from pyspark.ml.feature import VectorAssembler

In [25]:
df_modified = dfUnion5.drop('name', 'lon', 'avg_slp', 'avg_stp', 'state', 'station', 'avg_dew')

# station = six-digit number that is a string, no decimals. 

df_modified.show()

+----+------+-------+-------------------+------------------+
|year|   lat|   elev|           avg_temp|           avg_co2|
+----+------+-------+-------------------+------------------+
|1975|44.583|+0353.0| 48.552121212121207|329.85166666666669|
|1975| 41.65|+0047.5| 54.339075268817204|331.20300000000003|
|1975|45.511|+1134.8| 40.082917735608305|           331.521|
|1975|71.333|+0004.0|               15.0|            328.34|
|1975|70.233|-0999.0| 4.5260755682066796|           332.224|
|1975|65.617|+0005.0| 14.700000000000001|            331.65|
|1975|69.367|+0085.0|-12.867118298368297|            329.53|
|1975|67.511|+0585.0|-10.939230769230772|           330.125|
|1975|  63.9|+0214.0|  28.33787867996201|331.28999999999996|
|1975|  62.1|+0566.3| 27.595451631701632|           331.521|
|1975|61.977|+0045.7| 33.186844007707975|332.17249999999996|
|1975| 64.55|+0110.0| 8.2347069597069584|            329.51|
|1975|63.033|+0823.0| 24.320588235294121|331.40818181818184|
|1975|  62.1|+0573.0| 41.549042658730158|         331.15375|
|1975|62.033|+0735.0|   25.9434350132626|328.79666666666668|
|1975|61.217|+0042.1| 36.535714285714285|329.65999999999997|
|1975|61.133|+0036.0|                5.2|             333.6|
|1975|60.783|+0011.9| 34.678333333333335|           331.232|
|1975|56.959|+0029.0| 38.746683413834745|330.83500000000004|
|1975| 56.55|+0017.0| 39.248593435075179|331.20300000000003|
+----+------+-------+-------------------+------------------+
only showing top 20 rows

In [26]:
df_modified = df_modified.selectExpr("cast(year as int) year",
    "cast(lat as double) lat",
    "cast(elev as double) elev", 
    "cast(avg_temp as double) avg_temp", 
    "cast(avg_co2 as double) avg_co2")

df_modified.printSchema()

root
 |-- year: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- elev: double (nullable = true)
 |-- avg_temp: double (nullable = true)
 |-- avg_co2: double (nullable = true)

In [27]:
features = df_modified.drop("avg_temp")

In [28]:
assembler = VectorAssembler(inputCols=features.columns, outputCol="features", handleInvalid="skip")

In [29]:
output = assembler.transform(df_modified).select('features','avg_temp')

In [30]:
train,test = output.randomSplit([0.75, 0.25], seed=42)

In [31]:
train.show()

+--------------------+------------------+
|            features|          avg_temp|
+--------------------+------------------+
|[1975.0,18.255,10...| 79.11708141321044|
|[1975.0,18.336,6....| 81.09575010118418|
|[1975.0,18.498,66...| 79.40661411822988|
|[1975.0,19.719,11...| 72.35902585765488|
|[1975.0,19.76,188...|58.107898479152425|
|[1975.0,20.79,399...| 71.07767868014932|
|[1975.0,21.317,15...| 75.18506464413724|
|[1975.0,21.324,2....| 75.23113799283155|
|[1975.0,21.45,7.3...| 75.23592165898617|
|[1975.0,21.984,30...| 75.04279185867894|
|[1975.0,22.033,7....| 75.93634641896564|
|[1975.0,24.557,0....| 79.18689260112649|
|[1975.0,24.583,1....| 78.99674859190989|
|[1975.0,24.633,1....| 77.21010822510823|
|[1975.0,24.95,1.0...| 79.06531364468864|
|[1975.0,25.483,2....| 75.74278673835124|
|[1975.0,25.788,8....| 76.77397593445983|
|[1975.0,26.072,3....| 78.24742962286138|
|[1975.0,26.184,30...| 73.21689132104456|
|[1975.0,26.228,11...| 77.92969779314889|
+--------------------+------------------+
only showing top 20 rows

In [32]:
test.show()

+--------------------+-----------------+
|            features|         avg_temp|
+--------------------+-----------------+
|[1975.0,18.433,2....|79.68193484383002|
|[1975.0,20.001,81...|       66.9203125|
|[1975.0,20.9,15.5...|74.15759408602152|
|[1975.0,21.155,13...|76.06389411853509|
|[1975.0,21.487,25...|72.82809042675284|
|[1975.0,24.72,1.0...|77.56029761904762|
|[1975.0,25.914,7....|73.02472862263184|
|[1975.0,27.072,5....|             68.9|
|[1975.0,27.401,9....|74.34494815668202|
|[1975.0,27.5,15.2...|70.66938300051203|
|[1975.0,27.6,1.0,...|            73.15|
|[1975.0,27.617,16...|77.99364197530863|
|[1975.0,27.85,4.3...|73.53958781362006|
|[1975.0,28.101,11...|75.30717933947774|
|[1975.0,28.233,3....|76.31795285359802|
|[1975.0,28.367,20...|68.96269393241167|
|[1975.0,28.434,27...|71.91521761392728|
|[1975.0,28.483,3....|72.41583589349719|
|[1975.0,28.95,2.0...|67.92679346515554|
|[1975.0,29.378,31...|68.41613927291348|
+--------------------+-----------------+
only showing top 20 rows

In [33]:
from pyspark.ml.regression import LinearRegression
lin_reg = LinearRegression(featuresCol = 'features', labelCol='avg_temp')
linear_model = lin_reg.fit(train)
linear_model2 = lin_reg.fit(test)

In [34]:
trainSummary = linear_model.summary
print("RMSE: %f" % trainSummary.rootMeanSquaredError)
print("\nr2: %f" % trainSummary.r2)

RMSE: 6.153825

r2: 0.755504

Root MSE: absolute measure of fit. Standard deviation of unexplained variance / square root of the variance of the residuals. 

R-squared: Relative measure of fit. Approximately three-quarters of the observed variation can be explained by the model's inputs.

In [35]:
testSummary = linear_model2.summary
print("RMSE: %f" % testSummary.rootMeanSquaredError)
print("\nr2: %f" % testSummary.r2) # 74.5202%

RMSE: 6.130369

r2: 0.760389

Root MSE: absolute measure of fit. standard deviation of unexplained variance / square root of the variance of the residuals. 

R-squared: relative measure of fit. approximately three-quarters of the observed variation can be explained by the model's inputs.

# New Section: Final CSV!

In [36]:
url7 = "https://storage.googleapis.com/ucb_finalproject_nn/yearly_data/US_Capitols_new.csv"

In [37]:
spark.sparkContext.addFile(url7)
df7 = spark.read.csv(SparkFiles.get("US_Capitols_new.csv"), sep=",", header=True)

In [38]:
df8 = df7[["State", "City"]]

df8.show()

+-----+------------+
|State|        City|
+-----+------------+
|   AL|  Montgomery|
|   AK|      Juneau|
|   AZ|     Phoenix|
|   AR| Little Rock|
|   CA|  Sacramento|
|   CO|      Denver|
|   CT|    Hartford|
|   DE|       Dover|
|   FL| Tallahassee|
|   GA|     Atlanta|
|   HI|    Honolulu|
|   ID|       Boise|
|   IL| Springfield|
|   IN|Indianapolis|
|   IA|  Des Moines|
|   KS|      Topeka|
|   KY|   Frankfort|
|   LA| Baton Rouge|
|   ME|     Augusta|
|   MD|   Annapolis|
+-----+------------+
only showing top 20 rows

In [58]:
# df8.toPandas().to_csv('states_and_cities.csv')

In [40]:
df7 = df7.drop('State', 'City')

In [41]:
df_modified2 = df7.drop('Elevation_ft', 'Dew_Point')

df_modified2.show()

+----+-------+-----------+------+
|Year|    Lat|Elevation_m|   CO2|
+----+-------+-----------+------+
|2025|   32.3|     73.152|424.49|
|2025|  58.37|    17.0688|424.49|
|2025|  33.43|   331.0128|424.49|
|2025|  35.22|    102.108|424.49|
|2025|  38.52|      9.144|424.49|
|2025|  39.75|   1609.344|424.49|
|2025|  41.73|    17.9832|424.49|
|2025|  39.13|      9.144|424.49|
|2025|  30.38|    61.8744|424.49|
|2025|  33.65|     320.04|424.49|
|2025|21.3294|   6.001512|424.49|
|2025|43.6007|    832.104|424.49|
|2025|  39.85|   170.0784|424.49|
|2025|39.7771|    217.932|424.49|
|2025|  41.53|    291.084|424.49|
|2025|  39.07|    288.036|424.49|
|2025|38.1924|   155.1432|424.49|
|2025|  30.53|    17.0688|424.49|
|2025|  44.32|    20.7264|424.49|
|2025|  38.97|    11.8872|424.49|
+----+-------+-----------+------+
only showing top 20 rows

In [42]:
df_modified2 = df_modified2.selectExpr("cast(Year as int) Year",
    "cast(Lat as double) Lat",
    "cast(Elevation_m as double) Elevation_m", 
    "cast(CO2 as double) CO2")

In [43]:
features2 = df_modified2

features2.show()

+----+-------+-----------+------+
|Year|    Lat|Elevation_m|   CO2|
+----+-------+-----------+------+
|2025|   32.3|     73.152|424.49|
|2025|  58.37|    17.0688|424.49|
|2025|  33.43|   331.0128|424.49|
|2025|  35.22|    102.108|424.49|
|2025|  38.52|      9.144|424.49|
|2025|  39.75|   1609.344|424.49|
|2025|  41.73|    17.9832|424.49|
|2025|  39.13|      9.144|424.49|
|2025|  30.38|    61.8744|424.49|
|2025|  33.65|     320.04|424.49|
|2025|21.3294|   6.001512|424.49|
|2025|43.6007|    832.104|424.49|
|2025|  39.85|   170.0784|424.49|
|2025|39.7771|    217.932|424.49|
|2025|  41.53|    291.084|424.49|
|2025|  39.07|    288.036|424.49|
|2025|38.1924|   155.1432|424.49|
|2025|  30.53|    17.0688|424.49|
|2025|  44.32|    20.7264|424.49|
|2025|  38.97|    11.8872|424.49|
+----+-------+-----------+------+
only showing top 20 rows

In [44]:
assembler2 = VectorAssembler(inputCols=features2.columns, outputCol="features", handleInvalid="skip")

In [45]:
output2 = assembler2.transform(features2).select('features')

output2.show()

+--------------------+
|            features|
+--------------------+
|[2025.0,32.3,73.1...|
|[2025.0,58.37,17....|
|[2025.0,33.43,331...|
|[2025.0,35.22,102...|
|[2025.0,38.52,9.1...|
|[2025.0,39.75,160...|
|[2025.0,41.73,17....|
|[2025.0,39.13,9.1...|
|[2025.0,30.38,61....|
|[2025.0,33.65,320...|
|[2025.0,21.3294,6...|
|[2025.0,43.6007,8...|
|[2025.0,39.85,170...|
|[2025.0,39.7771,2...|
|[2025.0,41.53,291...|
|[2025.0,39.07,288...|
|[2025.0,38.1924,1...|
|[2025.0,30.53,17....|
|[2025.0,44.32,20....|
|[2025.0,38.97,11....|
+--------------------+
only showing top 20 rows

In [46]:
lin_reg2 = LinearRegression(featuresCol = 'features')

In [47]:
lr_predictions = linear_model.transform(output2)

In [48]:
lr_predictions.show()

+--------------------+------------------+
|            features|        prediction|
+--------------------+------------------+
|[2025.0,32.3,73.1...| 66.08284438392582|
|[2025.0,58.37,17....| 35.83139041727429|
|[2025.0,33.43,331...| 63.60337532040069|
|[2025.0,35.22,102...| 62.53634445740124|
|[2025.0,38.52,9.1...| 59.09241965295689|
|[2025.0,39.75,160...| 50.47134496169804|
|[2025.0,41.73,17....|55.296892609764996|
|[2025.0,39.13,9.1...| 58.37869010080374|
|[2025.0,30.38,61....| 68.37995280221332|
|[2025.0,33.65,320...| 63.39521208009262|
|[2025.0,21.3294,6...| 79.22035838466388|
|[2025.0,43.6007,8...|49.454198174165754|
|[2025.0,39.85,170...| 56.81395975783778|
|[2025.0,39.7771,2...| 56.68448282840211|
|[2025.0,41.53,291...| 54.30518878817031|
|[2025.0,39.07,288...| 57.19718780399592|
|[2025.0,38.1924,1...| 58.82046326980333|
|[2025.0,30.53,17....|  68.4055391581602|
|[2025.0,44.32,20....|  52.2541552797685|
|[2025.0,38.97,11....| 58.55358599772683|
+--------------------+------------------+
only showing top 20 rows

In [63]:
lr_pandas = lr_dataframe.toPandas()

lr_pandas.head()

   prediction
0   66.082844
1   35.831390
2   63.603375
3   62.536344
4   59.092420

In [68]:
lr_pandas.to_csv('prediction', index=False)

Exporting the data frame lr_predictions as CSV, and exporting df8 as well. Combining lr_predictions with df8 outside of the notebook.

In [62]:
df8_pandas = df8.toPandas()

df8_pandas.head()

  State         City
0    AL   Montgomery
1    AK       Juneau
2    AZ      Phoenix
3    AR  Little Rock
4    CA   Sacramento

In [69]:
df8_pandas.to_csv('states_and_cities', index=False)